@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Poppins:wght@600&display=swap");

:root {
  --color-pink: hsl(322, 100%, 66%);

  --color-very-pale-cyan: hsl(193, 100%, 96%);
  --color-very-dark-cyan: hsl(192, 100%, 9%);
  --color-grayish-blue: hsl(208, 11%, 55%);

  --font-head: "Poppins", sans-serif;
  --font-def: "Open-Sans", sans-serif;
}

* {
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  font-family: var(--font-def);
}

h1,
h2,
h3,
h4,
h5 {
  font-family: var(--font-head);
}

.header {
  padding: 4rem 6rem;
  background-color: hsla(209, 78%, 69%, 0.4);
  background-image: url(./assets/images/bg-hero-desktop.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  margin-bottom: 4rem;
}
.header__nav {
  display: flex;
  justify-content: space-between;
  margin-bottom: 6rem;
}
.header__content {
  display: flex;
  justify-content: space-between;
}

.header__content-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.header__content-title {
  font-size: 4rem;
  margin-right: 15rem;
  width: 65%;
  margin-bottom: 3rem;
}
.header__content-text {
  font-size: 2rem;
  margin-right: 15rem;
  width: 70%;
  line-height: 1.4;
  margin-bottom: 4rem;
}
.header__btn {
  display: block;

  min-width: 15rem;
  /* flex-shrink: 0; */
  height: 5rem;
  border-radius: 10000px;
  border: 0;
  background: transparent;
  border: 1px solid var(--color-very-dark-cyan);
  color: var(--color-very-dark-cyan);
  font-size: 1.2rem;
  cursor: pointer;
  transition: all 0.2s;
}
.header__btn:hover {
  transform: scale(1.05);
}
.header__btn:active {
  transform: scale(0.9);
}
.header__content-btn {
  display: block;
  align-self: flex-start;
  min-width: 20rem;
  /* flex-shrink: 0; */
  height: 5rem;
  border-radius: 10000px;
  border: 0;
  background-color: var(--color-pink);
  color: var(--color-very-pale-cyan);
  font-size: 1.2rem;
  cursor: pointer;
  transition: all 0.2s;
}
.header__content-btn:hover {
  filter: brightness(1.1);
  transform: scale(1.02);
}
.header__content-btn:active {
  transform: scale(0.98);
}
.header__photo {
  max-width: 50%;
}

.feature {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
  margin: 4rem auto;
  /* padding: 2rem 4rem; */
  width: 70%;
}

.feature__content {
  padding: 5rem;
}
.feature__content-title {
  font-size: 2.3rem;
  margin-bottom: 1rem;
  color: var(--color-very-dark-cyan);
}
.feature__content-text {
  width: 80%;
  font-size: 1.6rem;
  color: var(--color-grayish-blue);
}
.feature__img {
  width: 30%;
  height: 30rem;
}

.feature.right .feature__content {
  order: 2;
  padding: 0;
  width: 60%;
}
.feature.right .feature__img {
  margin-right: 15rem;
}
.feature.right .feature__content-text {
  padding: 0;
  margin: 0;
}

.get-started {
  position: relative;
  box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  margin: 0 auto;
  padding: 2rem 4rem;
  border-radius: 8px;
  z-index: 2;
  background-color: var(--color-very-pale-cyan);
}
.get-started__title {
  font-size: 2.6rem;
  margin-bottom: 2rem;
}
.get-started__btn {
  display: block;

  min-width: 35rem;
  /* flex-shrink: 0; */
  height: 5rem;
  border-radius: 10000px;
  border: 0;
  background: transparent;
  background-color: var(--color-pink);
  color: var(--color-very-pale-cyan);
  font-size: 1.5rem;
  cursor: pointer;
  transition: all 0.2s;
  letter-spacing: 2px;
}
.get-started__btn:hover {
  filter: brightness(1.1);
  transform: scale(1.02);
}

.footer {
  position: relative;
  z-index: 1;
  margin-top: -5rem;
  min-height: 30rem;
  background-color: var(--color-very-dark-cyan);
  padding: 10rem 4rem;
}

.footer__header {
  filter: invert(50%);
}
.footer__lists {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 2rem;
}
.footer__lists a {
  text-decoration: none;
  color: var(--color-very-pale-cyan);
}

.footer__lists ul {
  list-style: none;
  font-size: 1.6rem;
  color: var(--color-very-pale-cyan);
}

.details-list {
  flex: 0 1 30%;
}
.details-list li:first-of-type span {
  display: block;
  margin-left: 3rem;
}
.details-list svg {
  width: 5rem;
}

.footer__lists .details-list li {
  padding: 2rem;
  display: flex;
}
.nav-list {
  flex: 1;
  padding: 0 4rem;
}
.nav-list {
  list-style: none;
  padding-top: 2rem;
}
.nav-list li {
  margin-bottom: 4rem;
}
.nav-list li a:hover {
  text-decoration: underline;
}

.social-list {
  display: flex;
  justify-content: space-between;
  flex: 0.5 1 5%;
  transition: all 0.2s;
}

.social-list svg {
  width: 5rem;
  height: 5rem;
}
.social-list svg:hover {
  fill: var(--color-pink);
}

@media screen and (max-width: 760px) {
  html {
    font-size: 52%;
  }
  @media screen and (max-width: 650px) {
    html {
      font-size: 50%;
    }
    .header {
      padding: 2rem 1rem;
    }
    .header__content {
      flex-direction: column;
      text-align: center;
    }
    .header__content-content {
      align-items: center;
    }
    .header__content-title {
      margin: 0;
    }
    .header__content-text {
      margin: 2rem 0;
    }
    .header__content-btn {
      margin: 0 auto;
      min-width: 30rem;
    }
    .header__photo {
      margin: 2rem auto;
      width: 100%;
    }
    .feature {
      width: 100%;
      margin: 0;
      flex-direction: column;
      margin: 0;
      padding: 0;
    }
    .feature__content {
      order: 2;
    }
    .feature__img {
      width: 50%;
      order: 0;
    }

    .feature.right .feature__content {
      order: 2;
      padding: 5rem;
      width: 100%;
    }
    .feature.right .feature__img {
      margin-right: 0;
    }

    .get-started {
      width: 95%;
    }
    .footer__lists {
      flex-direction: column;
    }
  }
}
